@import '../../../sharedStyles/shared.module.scss';

.Button {
    border: 1px solid $accent-color;
    color: $accent-color;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 15px;
}

@media screen and(max-width: 375px) {
    .Button {
        font-size: 15px;
        padding: 8px 22px;
    }
}

@media screen and(max-width: 320px) {
    .Button {
        font-size: 14px;
        padding: 8px 22px;
    }
}