@import "../../sharedStyles/shared.module.scss";

body {
  background-color: $secondary-color !important;
}

.TitlesContainer {
  display: block;
  align-items: left;
  width: 100%;
  margin-left: 5%;
}

.Heading {
  color: $primary-color;
}

.Link {
  color: $text-color;
  font-weight: bold;
}

.Link:hover {
  color: $primary-color;
}

.Description {
  color: $text-color;
}

.Badges {
  margin-top: 5px;
  margin-bottom: 20px;

  .Badge {
    color: $tertiary-color;
    margin-right: 10px;
  }
}

.Period {
  font-weight: bold;
}

.ProgressContainer > div {
  color: $tertiary-color !important;
}

.InvestButton {
  font-weight: bold;
}

.ArtistContainer {
  text-align: left;
  width: 100%;
  color: $text-color;
  margin-top: 30px;
  margin-bottom: 20px;
}

.ArtistContainer > h3 {
  color: $primary-color;
}

.ArtistContainer > p {
  margin-bottom: 5px;
}

.ProgressContainer {
  width: 90%;
}

.InvestModal {
  background: $secondary-color;
}
