.Page {
    margin-top: 160px;
    margin-bottom: 15%;

    .ConnectBox {
        margin-top: 100px;
        text-align: center;
        position: relative;

        .Link {
            position: absolute;
            text-decoration: none;
            color: white;
            padding: 7.5px 20px;
            margin-left: 5px;
            font-weight: bold;
            width: fit-content;
        }

        .Connection {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;

            .Spinner {
                margin-left: 30px;
                display: flex;
                align-items: center;
                padding-right: 10px;

                >* {
                    margin-left: auto;
                }
            }

            .ConnectionText {
                text-align: start;
                font-size: 17px;
                font-weight: 500;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .Info {
        width: 510px;

        .Headings {
            .Heading {
                background-color: white;
                color: black;
                width: fit-content;
                font-size: 35px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                padding: 2px 45px;
                text-transform: uppercase;

                &:last-of-type {
                    margin-left: 25px;
                    padding: 2px 35px;
                }
            }
        }

        .SubHeading {
            margin: 20px 0;
            width: fit-content;
            margin-left: auto;

            p {
                width: fit-content;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
            }
        }

        .Question {
            width: fit-content;
            font-size: 18.5px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.02;
            letter-spacing: normal;
            margin-left: auto;
            display: block;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .Page {
        margin-bottom: 10px;

        .ConnectBox {
            margin-top: 30px;

            .Connection {
                .Spinner {
                    margin-left: 0;
                }

                .ConnectionText {
                    font-size: 14px;
                }
            }
        }

        .Info {
            width: 100%;

            .Headings {
                .Heading {
                    font-size: 23px;
                    padding: 2px 45px;
                    margin-left: 10px;

                    &:first-child {
                        margin-top: 40px;
                    }

                    &:last-of-type {
                        margin-left: 40px;
                        padding: 2px 20px;
                    }
                }
            }

            .SubHeading {
                width: 300px;
                margin-left: 10px;
                padding-right: 10px;

                p {
                    font-size: 14px;
                    display: inline;
                }
            }

            .Question {
                font-size: 16px;
                margin-left: 160px;
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    .Page .ConnectBox .Link {
        position: relative;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .Page {
        margin-top: 0;

        .ConnectBox {
            margin-bottom: 30px;
        }

        .Info {
            .Headings {
                .Heading {
                    font-size: 18px;

                    &:first-child {
                        margin-top: 10px;
                        margin-left: 10px;
                    }

                    &:last-of-type {
                        margin-left: 50px;
                    }
                }
            }

            .Question {
                margin-left: 50px;
            }
        }
    }
}